#topspin-store-wizard-form .form-item .description, #topspin-cck-content-form .form-item .description { background: none transparent; color: #999999; border: none; bottom: 0; display: block; left: 0; margin: 0; padding: 9px 10px 10px; position: static; width: auto; }

#edit-topspin-store-column-count-wrapper { display: none; }

.view-topspin-store .col-1, .view-topspin-store .col-2 { width: 50%; vertical-align: top; padding: 20px; }
.view-topspin-store .col-1 { border-right: 1px solid #CCCCCC; }
.view-topspin-store .views-field-field-topspin-price-value,
.node-topspin_product .field-field-topspin-price,
.view-topspin-store-detail .views-field-field-topspin-price-value { float: right; margin: 0 25px 15px 0; font-weight: bold; font-size: 14px; }
.view-topspin-store .views-field-field-topspin-image-fid,
.node-topspin_product .field-field-topspin-image,
.view-topspin-store-detail .views-field-field-topspin-image-fid { float: left; margin: 0 15px 0 0; }
.view-topspin-store .views-field-title, .view-topspin-store-detail .views-field-title { font-weight: bold; font-size: 16px; margin: 0 0 15px; }
.view-topspin-store .views-field-body { margin: 0 0 15px; }
.view-topspin-store .views-field-field-topspin-buy-embed-value .topspin-widget-buy-button { position: absolute; bottom: 5px; right: 10px; }
.view-topspin-store .views-field-field-topspin-extra-images-fid { display: none; }
.node-topspin_product .node-content,
.view-topspin-store-detail .view-content { position: relative; overflow: hidden; }
.node-topspin_product .field-field-topspin-buy-embed .topspin-widget-buy-button,
.views-field-field-topspin-buy-embed-value .topspin-widget-buy-button { position: absolute; bottom: 5px; right: 10px; }
.node-topspin_product .field-field-topspin-extra-images,
.view-topspin-store-detail .views-field-field-topspin-extra-images-fid { clear: both; padding: 10px 0 0 0; overflow: hidden; width: 360px; }
.node-topspin_product .field-field-topspin-extra-images .field-item,
.view-topspin-store-detail .views-field-field-topspin-extra-images-fid .field-item { float: left; margin: 0 10px 0 0; }
.view-topspin-store .grid-item { overflow: hidden; position: relative; }
.view-topspin-store-detail .views-field-phpcode { float: none; clear: both; margin-top: 20px; }
.view-topspin-store .views-field-nothing { position: absolute; left: 165px; bottom: 0pt; }

#block-topspin-tax_menu ul.links li, #block-topspin-tax_menu ul.links li a { float: none; }